* {
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

header {
	padding: 10px 0;
	background: #FFFFFF;
}

h1 {
	padding: 50px 0;
	color: #FFFFFF;
	text-align: center;
	font-size: 4em;
	font-weight: 300;
}

p {
	font-size: 1.5em;
	font-weight: 500;
}

.logo {
	font-size: 2em;
	font-weight: 700;
}

.rounded {
	border-radius: 2px;
}

.color-cover {
	margin: 0 0 42px 0;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
}

/********************************************
 * Footer Styles
 ********************************************/
footer {
	padding: 30px;
	background-color: #FFFFFF;
	font-size: 0.75em;
}

/***
 * Flexbox Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 ***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	box-shadow: inset 2px 0 rgba(0, 0, 0, 0.1);
}

.sfooter-content {
	flex: 1 0 auto;

	background: url(../images/bg-02.jpg) no-repeat center center fixed;
	background-size: cover;
}