/***************************************************
 * GENERAL
 ***************************************************/

.large-text {
	font-size: 2em;
}

.text-color-light {
	color: white;
}

.text-color-dark {
	color: #222;
}

.fill-height {
	display: flex;
	flex-direction: column;
}

/*.fill-height > li {*/
/*flex: 1;*/

/*display: flex;*/
/*justify-content: center;*/
/*flex-direction: column;*/
/*}*/

.bg-color {
	background-color: #E82C0C;
}

.bg-color-lighter {
	background-color: #FF4627;
}

.bg-color-darker {
	background-color: #B52209;
}

.bg-color-secondary {
	background-color: #009B58;
}

.bg-color-secondary-lighter {
	background-color: #0CE888;
}

.bg-color-secondary-darker {
	background-color: #004F2D;
}

.padding-top {
	padding-top: 20px;
}

.padding {
	padding: 20px;
}

.rounded-bottom {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/***************************************************
 * SIDEBAR
 ***************************************************/

.sidebar {

}

/***************************************************
 * QUOTE
 ***************************************************/

.quote {

}