* {
	font-family: 'Roboto', sans-serif;
	color: #ED2D00;
}

h1 {
	padding: 100px 0 100px 0;
	text-align: center;
	font-size: 8em;
	font-weight: 100;
}

p {
	font-size: 1.1em;
	font-weight: 500;
}

.logo {
	font-size: 2em;
	font-weight: 700;
}

/********************************************
 * Footer Styles
 ********************************************/
footer {
	padding: 30px;
	background-color: #FFFFFF;
	font-size: 0.75em;
}

/***
 * Flexbox Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 ***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	box-shadow: inset 2px 0 rgba(0, 0, 0, 0.1);
}

.sfooter-content {
	padding: 0 0 50px 0;

	flex: 1 0 auto;

	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}